<div id="test">

</div>

<script src="socket.io.js"></script>
<script>
  var socket = io('http://localhost:3000');
  document.getElementById("test").innerHTML = "Connected";
  socket.on('connect', function () {
    socket.send('data');
    socket.on('broadcast', function (msg) {
      document.getElementById("test").innerHTML = JSON.stringify(msg);
    });
  });
</script>